root = true

[*]
ident_size = 2
charset = utf-8
end_of_file = lf
ident_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[Dockerfile]
indent_style = tab

[*.{md,markdown}]
trim_trailing_whitespace = false
