{
  "env": {
    "node": true,
    "browser": false,
    "es6": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "./node_modules/ts-standard/eslintrc.json"
  ],
  "rules": {}
}
